
  <%- include partials/head.ejs %>
  <%- include partials/header.ejs %>
<main class="container first-container">
  <div class="jumbotron">
    <h1>Business Directory</h1>
    <p>Welcome to a simple Business Directory using Node.js with the Expressjs Framework. This directory is styled with the help of Bootstrap 3. </p>
    <p><a class="btn btn-primary btn-lg" href="/login/login" role="button">Login</a> OR <a class="btn btn-primary btn-lg" href="/login/register" role="button">Register</a></p>
  </div>

  <!--Main Information about the App.-->
  <h2>What does this web App do?</h2>
  <p>This is a simple web app that you can register, login and edit the contents of a directory that contains information about random businesses.</p>
</main>

  <%- include partials/footer.ejs %>
