
  <%- include partials/head.ejs %>
  <%- include partials/header.ejs %>
<main class="container first-container">
  <div class="jumbotron">
    <h1>Project Name</h1>
    <p>Welcome to Project Name </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more...</a></p>
  </div>

  <!--Main Information about the App.-->
  <h2>What is this?</h2>
  <p>Explaining what this is...</p>
</main>

  <%- include partials/footer.ejs %>
