/*** Created by matthewthoms on 2016-03-17.*/
<%- include ../partials/head.ejs %>
<%- include ../partials/header.ejs %>

<main class="container first-container">
    <h1>Create a Business Entry</h1>
    <form method="post" action="create">
        <fieldset class="form-group">
            <label for="businessName">Business Name:</label>
            <input name="businessName" id="businessName" class="form-control" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="about">About Business:</label>
            <textarea name="about" id="about" class="form-control" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input name="phoneNumber" type="tel" id="phoneNumber" class="form-control" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="address">Business Address:</label>
            <input name="address" id="address" class="form-control" required />
        </fieldset>
        <button class="btn btn-primary">Save</button>
    </form>
</main>

<%- include ../partials/footer.ejs %>